html{
    height: 100%;
    width: 100%;
}
nav{
    border-top: 4px solid #6db33f;
    background-color: #34302d;
}
nav a{
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    text-shadow: none;
    font-size: 1.25rem;
    line-height: 14px;
    padding: 28px 28px;
    font-weight: 700;
    color: #6db33f;
    border-radius: 0 0 15% 15%;
}
nav a:hover{
    color: #f1f1f1;
    text-decoration: none;
    background-color: #6db33f;
}
main{
    width: 100%;
    min-height: 100%;
    margin-bottom: 1rem;
}
section{
    float: right;
    width: 70%;
}
section.article{
    padding-right: 5rem;
}
.article-title{
    padding: 3rem 0;
    text-align: center;
}
.article-text{
    margin: 0rem 3rem 2rem;
    font-size: 1.5rem;
}
h4{
    text-align: center;
}
.article-image{
    width: 100%;
    text-align: center;
}
.article-image img{
    margin: 2rem 0;
    background-color: #ffffff;//цвет картинки
}
aside{
    margin-top: 10px;
    width: 25%;
}
footer{
    height: 5rem;
    font-size: 1.1rem;
    color: aliceblue;
    background-color: #34302d;
}
div.logo-container{
    width: 3%;
    max-width: 756px;
    margin: 0 auto;
}
img.logo{
    width: 100%;
    height: auto;
}
.name-of-project{
    font-size: 1.5rem;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    line-height: inherit;
    color: black;
}
nav a.name-of-project:hover{
    background-color: transparent;
    color: #cccccc;
}
body{
    height: 100%;
    background-color: #f1f1f1;
}
footer{
    clear:both;
    display: block;
}
div.articles{
margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 -4px 0 #34302d;
    /*background-color: #34302d;*/
}
div h4{
    margin-top: 4px;
}
ul.list-of-articles{
    padding-left: 0;
    list-style-type: none;
}
ul.list-of-articles a{
    color: #6db33f;
}
ul.list-of-articles li{
    position: relative;
    color: #6db33f;
    padding: 12px 6.2%;
    border-top: 1px solid #cccccc;
}
div.edit-block{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}
div.edit-plus{
    display: flex;
    justify-content: center;
}
.login-form{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Gotham SSm A", "Gotham SSm B", "Arial Unicode MS", Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.65;
    color: #4b4b4b;
    width: 50%;
}
.login-panel{
    align-items: center;
    justify-content: center;
    width: 45%;
    background-color: #f7f5f3;
    border: 1px solid #c7c3c0;
}
.user-name{
    padding: 5px;
}
.user-password{
    padding: 5px;
}
.user-email{
    padding: 5px;
}
.btn-signin{
    padding: 5px;
    font-size: 1rem;
    line-height: 1.65;
    border-radius: 20px;
    color: #ffffff;
    background-color: #00a6fd;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
}
.parent-login-form{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}